<%= simple_form_for(@teacher) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :registry %>
    <%= f.input :lattes_url %>
    <%= f.input :entry_date %>
    <%= f.input :formation %>
    <%= f.input :workload %>
    <%= f.input :about %>
    <%= f.input :rg %>
    <%= f.input :cpf %>
    <%= f.input :birth %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
