<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Registry:</strong>
  <%= @teacher.registry %>
</p>

<p>
  <strong>Lattes url:</strong>
  <%= @teacher.lattes_url %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @teacher.entry_date %>
</p>

<p>
  <strong>Formation:</strong>
  <%= @teacher.formation %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @teacher.workload %>
</p>

<p>
  <strong>About:</strong>
  <%= @teacher.about %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @teacher.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @teacher.cpf %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @teacher.birth %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
