<p id="notice"><%= notice %></p>

<p>
  <strong>Workload:</strong>
  <%= @klass.workload %>
</p>

<p>
  <strong>Distribution process:</strong>
  <%= @klass.distribution_process %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @klass.teacher %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @klass.grade %>
</p>

<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
